<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microsoft Teams Clone</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../leave.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>
</head>

<body>
  <div class="main-block">
    <div class="heading">
      You left the meeting
    </div>

    <div class="buttons" >
      <button onclick="rejoin()" type="button" class="rejoin-button"> Rejoin </button>
      <!-- <button type="button" name="button"></button> -->
    </div>

    <div class="feedback">

<!-- <div class="container">
  <div class="fbRatingCard">
    <form action="#">
      <div class="cardContainer">
        <input type="radio"  id="like" name="rating" checked>
        <label for="like"></label>
        <input type="radio"id="love" name="rating">
        <label for="love"></label>
        <input type="radio" id="haha" name="rating">
        <label for="haha"></label>
        <input type="radio"id="wow" name="rating">
        <label for="wow"></label>
        <input type="radio" id="sad" name="rating">
        <label for="sad"></label>
        <input type="radio" id="angry" name="rating">
        <label for="angry"></label>
        <div class="icon">

        </div>
        <button class="submit-btn" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div> -->

      <div class="feedback-question">
        Rate your experience
      </div>

      <div class="feedback-answer">

      </div>
    </div>
  </div>
  <script src="../leave.js"></script>
</body>
</html>
