@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body.dark-mode {
  background-color: #202124;
  color: #202124;
}

#video-grid {
  display: grid;
  height: 100%;
  justify-items: center;
  width: 100%;
  align-items: center;
}

video {
  display: block;
  flex: 1;
  object-fit: cover;
  border-radius: 16px;
  justify-content: center;
  width: 80%;
  height: 95%;
  max-width: 400px;
  max-height: 300px;
  transition: 1s;
}

.main {
  height: 100vh;
  display: flex;
}

.main_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main_right {
  border-radius: 16px;
  flex-direction: column;
  background-color: #f1f4f9;
  display: flex;
  width: 0px;
  transition: 0.7s;
}

.main_right_two{
  border-radius: 16px;
  flex-direction: column;
  background-color: #f1f4f9;
  display: flex;
  width: 0px;
  transition: 0.7s;
}

.main_right h6,
.main_right input,
.main_right i{
  display: none;
}

.main_right_two h6,
.main_right_two i{
  display: none;
}

body.dark-mode .main_right {
  background-color: #3c4043;
}

body.dark-mode .main_right_two {
  background-color: #3c4043;
}


.showChat .main_right{
  display: flex;
  width: 375px;
  transition:1s;
  margin: 16px;
}

.showParticipants .main_right_two {
  width: 375px;
  transition: 1s;
  margin: 16px;
}

.showChat .main_right h6,
.showChat .main_right input,
.showChat .main_right i{
  display: block;
}

.showParticipants .main_right_two h6,
.showParticipants .main_right_two i{
  display: block;
}

.main_videos {
  flex-grow: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90%;
}

body.dark-mode .main_videos {
  background-color: #202124;
}

.main_controls {
  padding: 8px;
  border-radius: 16px;
  margin: 8px 16px 16px 16px;
  display: flex;
  background-color: #f1f4f9;
  color: #d2d2d2;
  justify-content: center;
  height: 10%;
}

body.dark-mode .main_controls {
  background-color: #3c4043;
}

.block {
  display: flex;
}

.control_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  min-width: 80px;
  cursor: pointer;
  font-size: 14px;
  color: #394655;
}

body.dark-mode .control_button {
  color: #ffffff;
}

.control_button i {
  font-size: 24px;
}

.control_button:hover {
  background-color: white;
  border-radius: 5px;
}

body.dark-mode .control_button:hover {
  background-color: #434649;
}

.active i {
  color: #3888f6;
}

.main_header {
  color: black;
  display: flex;
  text-align: center;
  margin: 8px;
  vertical-align: middle;
  align-items: center;
}

.main_header h6 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

body.dark-mode .main_header {
  color: #ffffff;
}

.chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.message_container {
  display: flex;
}

.message_container input {
  flex-grow: 1;
  margin: 16px 0px 16px 16px;
  padding: 10px;
  background-color: #ffffff;
  border: 0.5px solid #d7d7d7;
  color: #000000;
  border-radius: 15px;
}

body.dark-mode .message_container input {
  background-color: #202124;
  border: 0.5px solid #434649;
  color: #ffffff;
}

.message_container input:focus {
  outline: none !important;
  border-color: #d7d7d7;
  box-shadow: 0 0 3px #d7d7d7;
}

body.dark-mode .message_container input:focus {
  outline: none !important;
  border-color: #434649;
  box-shadow: 0 0 3px #6d767d;
}

.messages {
  list-style: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;

  width: auto;
}

.messageRight {
  color: #ffffff;
  padding: 8px 12px;
  border-radius: 8px;
  background-color: #3888f6;
  margin: 8px;
  margin-left: auto;
  min-width: 100px;
  max-width: 300px;
  width: fit-content;
  position: relative;
  padding-bottom: 20px;
}

.messageLeft {
  color: #000000;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: white;
  margin: 8px;
  margin-right: auto;
  min-width: 100px;
  max-width: 300px;
  width: fit-content;
  position: relative;
  padding-bottom: 20px;
}

body.dark-mode .messageRight {
  color: #ffffff;
  background-color: #3888f6;
}

body.dark-mode .messageLeft {
  color: #ffffff;
  background-color: #5c6267;
}

.messages {
  color: #d2d2d2;
  list-style: none;
}

.unmute,
.stopVideo {
  color: #cc3b33;
}

.invitePop {
  display: none;
}

.showInvite {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: white;
  color: #000000;
}

body.dark-mode .showInvite {
  background-color: #202124;
  color: #ffffff;
}

.link_box {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 100%;
}

.copy_button {
  width: 100px;
  border: none;
  background-color: #394655;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  margin-left: 4px;
}

body.dark-mode .showInvite {
  background-color: #202124;
  color: #ffffff;
}

body.dark-mode .copy_button {
  background-color: #3c4043;
}

.link_box input {
  width: 550px;
  padding: 4px 8px;
  border-radius: 5px;
  border-width: 0.25px;
}

.sendMessage {
  width: 50px;
  font-size: 22px;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  color: #3888f6;
}

.participant-list-item {
  margin: 8px;
}

#participants-list{
  color: #000000;
  padding: 16px;
  padding-left: 32px;
  border-radius: 8px;
  background-color: white;
  margin: 8px 8px;
}

body.dark-mode #participants-list {
  color: #ffffff;
  background-color: #5c6267;
}

body.dark-mode .close{
  color: white;
}

body.dark-mode .fa-external-link-alt{
  color: white;
}

.close:hover{
  color: #db5e52;
  cursor: pointer;
}

.fa-external-link-alt:hover{
  cursor: pointer;
  color: #3888f6;
}

body.dark-mode .close:hover{
  color: #db5e52;
  cursor: pointer;
}

body.dark-mode .fa-external-link-alt:hover{
  cursor: pointer;
  color: #3888f6;
}

.timestamp {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 11px;
  color: lightblue;
}

.messageLeft .timestamp {
  color: grey;
}

body.dark-mode .messageLeft .timestamp {
  color: lightgrey;
}

@media only screen and (max-width: 1043px) {

  .main_controls span{
    display: none;
  }
}

@media only screen and (max-width: 1000px) {

  .main_left{
    overflow: hidden;
    width: 100%;
  }

  .main_right{
  height: 100%;
  position: fixed;
  margin: 0px;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }

  .main_right_two{
  height: 100%;
  position: fixed;
  margin: 0px;
  z-index: 1;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 0.5s;
  }

  .body{
    overflow: hidden;
  }
}

@media only screen and (max-width: 930px) {

  .main_controls{
    position: relative;
    bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {

  .main_controls i{
    font-size: 20px;
  }

  .control_button {
    min-width: 50px;
  }
}
